In [1]:
using CSV, DataFrames, Statistics, Dates, Gadfly, Random;
include("utils/precipitation.jl");

┌ Info: Loading DataFrames support into Gadfly.jl
└ @ Gadfly /home/chaime/.julia/packages/Gadfly/09PWZ/src/mapping.jl:228

In [10]:
function generate_variation(val)
    var = rand() * 0.4;
    return val * (0.8 + var);
end

generate_variation (generic function with 1 method)

In [11]:
function generate_new_entry(df, entry)
    nwDATE = entry.DATE;
    nwSURVERSE = entry.SURVERSE;
    nwFS_dist = entry.FS_dist;
    nwSS_dist = entry.SS_dist;
    nwFS_sum = generate_variation(entry.FS_sum);
    nwFS_max = generate_variation(entry.FS_max);
    nwFS_max3 = generate_variation(entry.FS_max3);
    nwSS_sum = generate_variation(entry.SS_sum);
    nwSS_max = generate_variation(entry.SS_max);
    nwSS_max3 = generate_variation(entry.SS_max3);
    
    push!(df, [nwDATE, nwSURVERSE, nwFS_dist, nwSS_dist, 
               nwFS_sum, nwFS_max, nwFS_max3, 
               nwSS_sum, nwSS_max, nwSS_max3])
end

generate_new_entry (generic function with 1 method)

## Ouvrage 3260

In [16]:
data_set = CSV.read("data/parsed/ouvrage_3260.csv");
size(data_set)

(1097, 10)

In [17]:
first(shuffleDf(data_set), 10)

10×10 DataFrame. Omitted printing of 4 columns
│ Row │ DATE       │ SURVERSE │ FS_dist  │ SS_dist  │ FS_sum    │ FS_max    │
│     │ Date       │ Int64    │ Float64  │ Float64  │ Float64   │ Float64   │
├─────┼────────────┼──────────┼──────────┼──────────┼───────────┼───────────┤
│ 1   │ 2016-08-30 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │
│ 2   │ 2014-07-04 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │
│ 3   │ 2016-05-13 │ 0        │ 0.145981 │ 0.210769 │ 0.0260856 │ 0.445     │
│ 4   │ 2014-05-04 │ 0        │ 0.145981 │ 0.210769 │ 2.30437   │ 0.731931  │
│ 5   │ 2015-08-18 │ 0        │ 0.145981 │ 0.210769 │ 2.12518   │ 5.86481   │
│ 6   │ 2013-05-06 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │
│ 7   │ 2013-10-12 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │
│ 8   │ 2014-09-17 │ 0        │ 0.145981 │ 0.210769 │ -0.345096 │ -0.35203  │
│ 9   │ 2014-10-27 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │
│ 10  │ 2018-07-31 │ 0        │ 0.145981 │ 0.210769 │ -0.396293 │ -0.415792 │

In [18]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2013-05-01 │           │ 2018-10-31 │ 1097    │
│ 2   │ SURVERSE │ 0.0856882   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.145981    │ 0.145981   │ 0.145981  │ 0.145981   │         │
│ 4   │ SS_dist  │ 0.210769    │ 0.210769   │ 0.210769  │ 0.210769   │         │
│ 5   │ FS_sum   │ -0.0141676  │ -0.396293  │ -0.396293 │ 9.43361    │         │
│ 6   │ FS_max   │ -0.00334192 │ -0.415792  │ -0.415792 │ 7.80956    │         │
│ 7   │ FS_max3  │ -0.0116425  │ -0.417149  │ -0.417149 │ 11.6341    │         │
│ 8   │ SS_sum   │ -0.0269077  │ -0.292356  │ -0.292356 │ 7.09575    │         │
│ 9   │ SS_max   │ -0.0206734  │ -0.306429  │ -0.306429 │ 6.38357    │         │
│ 10  │ SS_max3  │ -0.0268602  │ -0.304797  │ -0.304797 │ 8.24149    │         │

In [ ]:
filter(row -> row.SURVERSE == 1, data_set)

In [ ]:
plot(data_set, x=:FS_sum, y=:SS_sum, color=:SURVERSE)

In [21]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.45 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [22]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │          │ 2013-05-01 │           │ 2018-10-31 │ 1097    │
│ 2   │ SURVERSE │ 0.5022   │ 0          │ 1.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.145981 │ 0.145981   │ 0.145981  │ 0.145981   │         │
│ 4   │ SS_dist  │ 0.210769 │ 0.210769   │ 0.210769  │ 0.210769   │         │
│ 5   │ FS_sum   │ 0.924133 │ -0.475435  │ 0.103208  │ 11.2705    │         │
│ 6   │ FS_max   │ 0.812522 │ -0.498894  │ 0.21335   │ 9.2605     │         │
│ 7   │ FS_max3  │ 0.909081 │ -0.500545  │ 0.233173  │ 13.8941    │         │
│ 8   │ SS_sum   │ 0.679512 │ -0.350798  │ -0.209116 │ 8.4984     │         │
│ 9   │ SS_max   │ 0.573324 │ -0.36769   │ -0.161992 │ 7.59169    │         │
│ 10  │ SS_max3  │ 0.626904 │ -0.365748  │ -0.195675 │ 9.80375    │         │

In [ ]:
filter(row -> row.SURVERSE == 1, new_entries)

In [ ]:
plot(new_entries, x=:FS_sum, y=:SS_sum, color=:SURVERSE)

In [24]:
CSV.write("data/parsed/oversampled/ouvrage_3260.csv", new_entries)

"data/parsed/oversampled/ouvrage_3260.csv"

## Ouvrage 3350

In [25]:
data_set = CSV.read("data/parsed/ouvrage_3350.csv");
size(data_set)

(729, 10)

In [26]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2015-05-01 │           │ 2018-10-31 │ 729     │
│ 2   │ SURVERSE │ 0.203018    │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0927373   │ 0.0927373  │ 0.0927373 │ 0.0927373  │         │
│ 4   │ SS_dist  │ 0.12027     │ 0.12027    │ 0.12027   │ 0.12027    │         │
│ 5   │ FS_sum   │ -0.0143977  │ -0.399971  │ -0.399971 │ 9.38072    │         │
│ 6   │ FS_max   │ 0.00813102  │ -0.416911  │ -0.416911 │ 11.7239    │         │
│ 7   │ FS_max3  │ -0.00337263 │ -0.425384  │ -0.425384 │ 10.573     │         │
│ 8   │ SS_sum   │ -0.00499908 │ -0.344782  │ -0.344782 │ 8.20741    │         │
│ 9   │ SS_max   │ -0.00230434 │ -0.361747  │ -0.361747 │ 6.76672    │         │
│ 10  │ SS_max3  │ -0.00375311 │ -0.362927  │ -0.362927 │ 10.1219    │         │

In [31]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.47 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [32]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2015-05-01 │           │ 2018-10-31 │ 729     │
│ 2   │ SURVERSE │ 0.4995    │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0927373 │ 0.0927373  │ 0.0927373 │ 0.0927373  │         │
│ 4   │ SS_dist  │ 0.12027   │ 0.12027    │ 0.12027   │ 0.12027    │         │
│ 5   │ FS_sum   │ 0.447021  │ -0.479872  │ -0.221476 │ 11.2546    │         │
│ 6   │ FS_max   │ 0.477792  │ -0.500178  │ -0.147966 │ 13.9254    │         │
│ 7   │ FS_max3  │ 0.478369  │ -0.510409  │ -0.183571 │ 12.6174    │         │
│ 8   │ SS_sum   │ 0.40016   │ -0.413725  │ -0.195807 │ 9.61485    │         │
│ 9   │ SS_max   │ 0.393753  │ -0.434057  │ -0.148305 │ 8.00407    │         │
│ 10  │ SS_max3  │ 0.411268  │ -0.435485  │ -0.180025 │ 12.0245    │         │

In [33]:
CSV.write("data/parsed/oversampled/ouvrage_3350.csv", new_entries)

"data/parsed/oversampled/ouvrage_3350.csv"

## Ouvrage 4240

In [34]:
data_set = CSV.read("data/parsed/ouvrage_4240.csv");
size(data_set)

(1100, 10)

In [35]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean       │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…     │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │            │ 2013-05-01 │           │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.0627273  │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.149987   │ 0.149987   │ 0.149987  │ 0.149987   │         │
│ 4   │ SS_dist  │ 0.168295   │ 0.168295   │ 0.168295  │ 0.168295   │         │
│ 5   │ FS_sum   │ -0.030719  │ -0.358123  │ -0.358123 │ 8.69198    │         │
│ 6   │ FS_max   │ -0.0244404 │ -0.375363  │ -0.375363 │ 7.8196     │         │
│ 7   │ FS_max3  │ -0.0315642 │ -0.373363  │ -0.373363 │ 10.0955    │         │
│ 8   │ SS_sum   │ 0.0287264  │ -0.373593  │ -0.373593 │ 9.06526    │         │
│ 9   │ SS_max   │ 0.0269202  │ -0.393477  │ -0.393477 │ 8.6565     │         │
│ 10  │ SS_max3  │ 0.0298435  │ -0.388305  │ -0.388305 │ 7.55446    │         │

In [38]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.45 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [39]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │          │ 2013-05-01 │           │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.4956   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.149987 │ 0.149987   │ 0.149987  │ 0.149987   │         │
│ 4   │ SS_dist  │ 0.168295 │ 0.168295   │ 0.168295  │ 0.168295   │         │
│ 5   │ FS_sum   │ 0.910909 │ -0.429708  │ -0.245224 │ 10.4282    │         │
│ 6   │ FS_max   │ 0.685849 │ -0.450363  │ -0.199284 │ 9.36396    │         │
│ 7   │ FS_max3  │ 0.818583 │ -0.44803   │ -0.229671 │ 12.0734    │         │
│ 8   │ SS_sum   │ 1.06241  │ -0.448308  │ 0.0913748 │ 10.8615    │         │
│ 9   │ SS_max   │ 0.78605  │ -0.4721    │ 0.167074  │ 9.7385     │         │
│ 10  │ SS_max3  │ 0.958376 │ -0.46592   │ 0.157032  │ 9.06026    │         │

In [40]:
CSV.write("data/parsed/oversampled/ouvrage_4240.csv", new_entries)

"data/parsed/oversampled/ouvrage_4240.csv"

## Ouvrage 4350

In [41]:
data_set = CSV.read("data/parsed/ouvrage_4350.csv");
size(data_set)

(1100, 10)

In [42]:
describe(data_set)

10×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable │ mean        │ min        │ median     │ max        │
│     │ Symbol   │ Union…      │ Any        │ Union…     │ Any        │
├─────┼──────────┼─────────────┼────────────┼────────────┼────────────┤
│ 1   │ DATE     │             │ 2013-05-01 │            │ 2018-10-31 │
│ 2   │ SURVERSE │ 0.0381818   │ 0          │ 0.0        │ 1          │
│ 3   │ FS_dist  │ 0.0248354   │ 0.0248354  │ 0.0248354  │ 0.0248354  │
│ 4   │ SS_dist  │ 0.139269    │ 0.139269   │ 0.139269   │ 0.139269   │
│ 5   │ FS_sum   │ -0.00633163 │ -0.396293  │ -0.396293  │ 9.43361    │
│ 6   │ FS_max   │ -3.24033e-5 │ -0.415792  │ -0.415792  │ 7.80956    │
│ 7   │ FS_max3  │ -0.00776021 │ -0.417149  │ -0.417149  │ 11.6341    │
│ 8   │ SS_sum   │ -0.00346406 │ -0.0493965 │ -0.0493965 │ 1.1989     │
│ 9   │ SS_max   │ -0.00298854 │ -0.0517744 │ -0.0517744 │ 1.07857    │
│ 10  │ SS_max3  │ -0.00404947 │ -0.0514987 │ -0.0514987 │ 1.39248    │

In [45]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.45 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [46]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median     │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…     │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼────────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2013-05-01 │            │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.4952    │ 0          │ 0.0        │ 1          │         │
│ 3   │ FS_dist  │ 0.0248354 │ 0.0248354  │ 0.0248354  │ 0.0248354  │         │
│ 4   │ SS_dist  │ 0.139269  │ 0.139269   │ 0.139269   │ 0.139269   │         │
│ 5   │ FS_sum   │ 1.47254   │ -0.475484  │ 0.612969   │ 11.3028    │         │
│ 6   │ FS_max   │ 1.36495   │ -0.498915  │ 0.516277   │ 9.30354    │         │
│ 7   │ FS_max3  │ 1.43037   │ -0.500555  │ 0.556587   │ 13.9251    │         │
│ 8   │ SS_sum   │ 0.162158  │ -0.059274  │ -0.0332895 │ 1.4373     │         │
│ 9   │ SS_max   │ 0.138709  │ -0.0621233 │ -0.0271794 │ 1.2941     │         │
│ 10  │ SS_max3  │ 0.152314  │ -0.061793  │ -0.0303622 │ 1.66996    │         │

In [47]:
CSV.write("data/parsed/oversampled/ouvrage_4350.csv", new_entries)

"data/parsed/oversampled/ouvrage_4350.csv"

## Ouvrage 4380

In [48]:
data_set = CSV.read("data/parsed/ouvrage_4380.csv");
size(data_set)

(1103, 10)

In [49]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2013-05-01 │           │ 2018-10-31 │ 1103    │
│ 2   │ SURVERSE │ 0.0761559   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0401006   │ 0.0401006  │ 0.0401006 │ 0.0401006  │         │
│ 4   │ SS_dist  │ 0.154948    │ 0.154948   │ 0.154948  │ 0.154948   │         │
│ 5   │ FS_sum   │ -0.0125561  │ -0.396293  │ -0.396293 │ 9.43361    │         │
│ 6   │ FS_max   │ -0.00278184 │ -0.415792  │ -0.415792 │ 7.80956    │         │
│ 7   │ FS_max3  │ -0.0107162  │ -0.417149  │ -0.417149 │ 11.6341    │         │
│ 8   │ SS_sum   │ -0.0102462  │ -0.116085  │ -0.116085 │ 2.8175     │         │
│ 9   │ SS_max   │ -0.00823173 │ -0.121674  │ -0.121674 │ 2.53472    │         │
│ 10  │ SS_max3  │ -0.0105329  │ -0.121026  │ -0.121026 │ 3.27244    │         │

In [52]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.45 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [53]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median     │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…     │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼────────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2013-05-01 │            │ 2018-10-31 │ 1103    │
│ 2   │ SURVERSE │ 0.4971    │ 0          │ 0.0        │ 1          │         │
│ 3   │ FS_dist  │ 0.0401006 │ 0.0401006  │ 0.0401006  │ 0.0401006  │         │
│ 4   │ SS_dist  │ 0.154948  │ 0.154948   │ 0.154948   │ 0.154948   │         │
│ 5   │ FS_sum   │ 0.919445  │ -0.475547  │ 0.0147312  │ 11.2242    │         │
│ 6   │ FS_max   │ 0.946782  │ -0.49895   │ 0.189071   │ 9.33231    │         │
│ 7   │ FS_max3  │ 0.946147  │ -0.500541  │ 0.0819098  │ 13.868     │         │
│ 8   │ SS_sum   │ 0.290811  │ -0.139282  │ -0.0700547 │ 3.3743     │         │
│ 9   │ SS_max   │ 0.284895  │ -0.145969  │ -0.0333888 │ 3.02945    │         │
│ 10  │ SS_max3  │ 0.28906   │ -0.14518   │ -0.0627687 │ 3.90606    │         │

In [54]:
CSV.write("data/parsed/oversampled/ouvrage_4380.csv", new_entries)

"data/parsed/oversampled/ouvrage_4380.csv"