In [7]:
using CSV, DataFrames, Statistics, Dates, Gadfly, Random;
include("utils/precipitation.jl");

In [8]:
function generate_variation(val)
    var = rand() * 0.5;
    return val * (0.75 + var);
end

generate_variation (generic function with 1 method)

In [9]:
function generate_new_entry(df, entry)
    nwDATE = entry.DATE;
    nwSURVERSE = entry.SURVERSE;
    nwFS_dist = entry.FS_dist;
    nwSS_dist = entry.SS_dist;
    nwFS_sum = generate_variation(entry.FS_sum);
    nwFS_max = generate_variation(entry.FS_max);
    nwFS_max3 = generate_variation(entry.FS_max3);
    nwSS_sum = generate_variation(entry.SS_sum);
    nwSS_max = generate_variation(entry.SS_max);
    nwSS_max3 = generate_variation(entry.SS_max3);
    
    push!(df, [nwDATE, nwSURVERSE, nwFS_dist, nwSS_dist, 
               nwFS_sum, nwFS_max, nwFS_max3, 
               nwSS_sum, nwSS_max, nwSS_max3])
end

generate_new_entry (generic function with 1 method)

## Ouvrage 3260

In [10]:
data_set = CSV.read("data/parsed/ouvrage_3260.csv");
size(data_set)

(1097, 10)

In [ ]:
first(shuffleDf(data_set), 10)

In [12]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2013-05-01 │           │ 2018-10-31 │ 1097    │
│ 2   │ SURVERSE │ 0.0856882   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.145981    │ 0.145981   │ 0.145981  │ 0.145981   │         │
│ 4   │ SS_dist  │ 0.210769    │ 0.210769   │ 0.210769  │ 0.210769   │         │
│ 5   │ FS_sum   │ -0.0141676  │ -0.396293  │ -0.396293 │ 9.43361    │         │
│ 6   │ FS_max   │ -0.00334192 │ -0.415792  │ -0.415792 │ 7.80956    │         │
│ 7   │ FS_max3  │ -0.0116425  │ -0.417149  │ -0.417149 │ 11.6341    │         │
│ 8   │ SS_sum   │ -0.0269077  │ -0.292356  │ -0.292356 │ 7.09575    │         │
│ 9   │ SS_max   │ -0.0206734  │ -0.306429  │ -0.306429 │ 6.38357    │         │
│ 10  │ SS_max3  │ -0.0268602  │ -0.304797  │ -0.304797 │ 8.24149    │         │

In [ ]:
filter(row -> row.SURVERSE == 1, data_set)

In [ ]:
plot(data_set, x=:FS_sum, y=:SS_sum, color=:SURVERSE)

In [40]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.68 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [41]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │          │ 2013-05-01 │           │ 2018-10-31 │ 1097    │
│ 2   │ SURVERSE │ 0.2941   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.145981 │ 0.145981   │ 0.145981  │ 0.145981   │         │
│ 4   │ SS_dist  │ 0.210769 │ 0.210769   │ 0.210769  │ 0.210769   │         │
│ 5   │ FS_sum   │ 0.440751 │ -0.495331  │ -0.318694 │ 11.7114    │         │
│ 6   │ FS_max   │ 0.386899 │ -0.519732  │ -0.328319 │ 9.71379    │         │
│ 7   │ FS_max3  │ 0.430265 │ -0.521433  │ -0.332869 │ 14.328     │         │
│ 8   │ SS_sum   │ 0.319418 │ -0.365426  │ -0.249972 │ 8.82468    │         │
│ 9   │ SS_max   │ 0.278842 │ -0.382937  │ -0.258543 │ 7.89257    │         │
│ 10  │ SS_max3  │ 0.301359 │ -0.380986  │ -0.259172 │ 10.2265    │         │

In [ ]:
filter(row -> row.SURVERSE == 1, new_entries)

In [ ]:
plot(new_entries, x=:FS_sum, y=:SS_sum, color=:SURVERSE)

In [43]:
CSV.write("data/parsed/oversampled/ouvrage_3260.csv", new_entries)

"data/parsed/oversampled/ouvrage_3260.csv"

## Ouvrage 3350

In [44]:
data_set = CSV.read("data/parsed/ouvrage_3350.csv");
size(data_set)

(729, 10)

In [45]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2015-05-01 │           │ 2018-10-31 │ 729     │
│ 2   │ SURVERSE │ 0.203018    │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0927373   │ 0.0927373  │ 0.0927373 │ 0.0927373  │         │
│ 4   │ SS_dist  │ 0.12027     │ 0.12027    │ 0.12027   │ 0.12027    │         │
│ 5   │ FS_sum   │ -0.0143977  │ -0.399971  │ -0.399971 │ 9.38072    │         │
│ 6   │ FS_max   │ 0.00813102  │ -0.416911  │ -0.416911 │ 11.7239    │         │
│ 7   │ FS_max3  │ -0.00337263 │ -0.425384  │ -0.425384 │ 10.573     │         │
│ 8   │ SS_sum   │ -0.00499908 │ -0.344782  │ -0.344782 │ 8.20741    │         │
│ 9   │ SS_max   │ -0.00230434 │ -0.361747  │ -0.361747 │ 6.76672    │         │
│ 10  │ SS_max3  │ -0.00375311 │ -0.362927  │ -0.362927 │ 10.1219    │         │

In [50]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.7 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [51]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2015-05-01 │           │ 2018-10-31 │ 729     │
│ 2   │ SURVERSE │ 0.2918    │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0927373 │ 0.0927373  │ 0.0927373 │ 0.0927373  │         │
│ 4   │ SS_dist  │ 0.12027   │ 0.12027    │ 0.12027   │ 0.12027    │         │
│ 5   │ FS_sum   │ 0.100536  │ -0.499954  │ -0.34095  │ 11.1731    │         │
│ 6   │ FS_max   │ 0.133308  │ -0.521119  │ -0.346957 │ 14.392     │         │
│ 7   │ FS_max3  │ 0.120607  │ -0.531717  │ -0.357609 │ 12.5342    │         │
│ 8   │ SS_sum   │ 0.107884  │ -0.430973  │ -0.293312 │ 10.0366    │         │
│ 9   │ SS_max   │ 0.118377  │ -0.452122  │ -0.302157 │ 8.39124    │         │
│ 10  │ SS_max3  │ 0.112608  │ -0.453634  │ -0.306808 │ 12.1308    │         │

In [52]:
CSV.write("data/parsed/oversampled/ouvrage_3350.csv", new_entries)

"data/parsed/oversampled/ouvrage_3350.csv"

## Ouvrage 4240

In [53]:
data_set = CSV.read("data/parsed/ouvrage_4240.csv");
size(data_set)

(1100, 10)

In [54]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean       │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…     │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │            │ 2013-05-01 │           │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.0627273  │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.149987   │ 0.149987   │ 0.149987  │ 0.149987   │         │
│ 4   │ SS_dist  │ 0.168295   │ 0.168295   │ 0.168295  │ 0.168295   │         │
│ 5   │ FS_sum   │ -0.030719  │ -0.358123  │ -0.358123 │ 8.69198    │         │
│ 6   │ FS_max   │ -0.0244404 │ -0.375363  │ -0.375363 │ 7.8196     │         │
│ 7   │ FS_max3  │ -0.0315642 │ -0.373363  │ -0.373363 │ 10.0955    │         │
│ 8   │ SS_sum   │ 0.0287264  │ -0.373593  │ -0.373593 │ 9.06526    │         │
│ 9   │ SS_max   │ 0.0269202  │ -0.393477  │ -0.393477 │ 8.6565     │         │
│ 10  │ SS_max3  │ 0.0298435  │ -0.388305  │ -0.388305 │ 7.55446    │         │

In [59]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.67 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [60]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean     │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…   │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼──────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │          │ 2013-05-01 │           │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.2931   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.149987 │ 0.149987   │ 0.149987  │ 0.149987   │         │
│ 4   │ SS_dist  │ 0.168295 │ 0.168295   │ 0.168295  │ 0.168295   │         │
│ 5   │ FS_sum   │ 0.466262 │ -0.447518  │ -0.304083 │ 10.7456    │         │
│ 6   │ FS_max   │ 0.353501 │ -0.469188  │ -0.312847 │ 9.76237    │         │
│ 7   │ FS_max3  │ 0.419028 │ -0.466624  │ -0.313815 │ 12.4747    │         │
│ 8   │ SS_sum   │ 0.567112 │ -0.466947  │ -0.281791 │ 11.1823    │         │
│ 9   │ SS_max   │ 0.426017 │ -0.491843  │ -0.255996 │ 10.7594    │         │
│ 10  │ SS_max3  │ 0.512399 │ -0.48537   │ -0.273592 │ 9.28884    │         │

In [61]:
CSV.write("data/parsed/oversampled/ouvrage_4240.csv", new_entries)

"data/parsed/oversampled/ouvrage_4240.csv"

## Ouvrage 4350

In [62]:
data_set = CSV.read("data/parsed/ouvrage_4350.csv");
size(data_set)

(1100, 10)

In [63]:
describe(data_set)

10×8 DataFrame. Omitted printing of 3 columns
│ Row │ variable │ mean        │ min        │ median     │ max        │
│     │ Symbol   │ Union…      │ Any        │ Union…     │ Any        │
├─────┼──────────┼─────────────┼────────────┼────────────┼────────────┤
│ 1   │ DATE     │             │ 2013-05-01 │            │ 2018-10-31 │
│ 2   │ SURVERSE │ 0.0381818   │ 0          │ 0.0        │ 1          │
│ 3   │ FS_dist  │ 0.0248354   │ 0.0248354  │ 0.0248354  │ 0.0248354  │
│ 4   │ SS_dist  │ 0.139269    │ 0.139269   │ 0.139269   │ 0.139269   │
│ 5   │ FS_sum   │ -0.00633163 │ -0.396293  │ -0.396293  │ 9.43361    │
│ 6   │ FS_max   │ -3.24033e-5 │ -0.415792  │ -0.415792  │ 7.80956    │
│ 7   │ FS_max3  │ -0.00776021 │ -0.417149  │ -0.417149  │ 11.6341    │
│ 8   │ SS_sum   │ -0.00346406 │ -0.0493965 │ -0.0493965 │ 1.1989     │
│ 9   │ SS_max   │ -0.00298854 │ -0.0517744 │ -0.0517744 │ 1.07857    │
│ 10  │ SS_max3  │ -0.00404947 │ -0.0514987 │ -0.0514987 │ 1.39248    │

In [66]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.67 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [67]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median     │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…     │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼────────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2013-05-01 │            │ 2018-10-31 │ 1100    │
│ 2   │ SURVERSE │ 0.2976    │ 0          │ 0.0        │ 1          │         │
│ 3   │ FS_dist  │ 0.0248354 │ 0.0248354  │ 0.0248354  │ 0.0248354  │         │
│ 4   │ SS_dist  │ 0.139269  │ 0.139269   │ 0.139269   │ 0.139269   │         │
│ 5   │ FS_sum   │ 0.846876  │ -0.495229  │ -0.305495  │ 11.6969    │         │
│ 6   │ FS_max   │ 0.786351  │ -0.519627  │ -0.31121   │ 9.71162    │         │
│ 7   │ FS_max3  │ 0.806221  │ -0.52143   │ -0.31707   │ 14.5215    │         │
│ 8   │ SS_sum   │ 0.0919327 │ -0.0617302 │ -0.0412183 │ 1.49668    │         │
│ 9   │ SS_max   │ 0.0790611 │ -0.064717  │ -0.0428679 │ 1.345      │         │
│ 10  │ SS_max3  │ 0.0844429 │ -0.0643688 │ -0.0429532 │ 1.70026    │         │

In [68]:
CSV.write("data/parsed/oversampled/ouvrage_4350.csv", new_entries)

"data/parsed/oversampled/ouvrage_4350.csv"

## Ouvrage 4380

In [69]:
data_set = CSV.read("data/parsed/ouvrage_4380.csv");
size(data_set)

(1103, 10)

In [70]:
describe(data_set)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean        │ min        │ median    │ max        │ nunique │
│     │ Symbol   │ Union…      │ Any        │ Union…    │ Any        │ Union…  │
├─────┼──────────┼─────────────┼────────────┼───────────┼────────────┼─────────┤
│ 1   │ DATE     │             │ 2013-05-01 │           │ 2018-10-31 │ 1103    │
│ 2   │ SURVERSE │ 0.0761559   │ 0          │ 0.0       │ 1          │         │
│ 3   │ FS_dist  │ 0.0401006   │ 0.0401006  │ 0.0401006 │ 0.0401006  │         │
│ 4   │ SS_dist  │ 0.154948    │ 0.154948   │ 0.154948  │ 0.154948   │         │
│ 5   │ FS_sum   │ -0.0125561  │ -0.396293  │ -0.396293 │ 9.43361    │         │
│ 6   │ FS_max   │ -0.00278184 │ -0.415792  │ -0.415792 │ 7.80956    │         │
│ 7   │ FS_max3  │ -0.0107162  │ -0.417149  │ -0.417149 │ 11.6341    │         │
│ 8   │ SS_sum   │ -0.0102462  │ -0.116085  │ -0.116085 │ 2.8175     │         │
│ 9   │ SS_max   │ -0.00823173 │ -0.121674  │ -0.121674 │ 2.53472    │         │
│ 10  │ SS_max3  │ -0.0105329  │ -0.121026  │ -0.121026 │ 3.27244    │         │

In [71]:
n_to_random_sample = 10000 - size(data_set, 1);
new_entries = similar(data_set, nrow(data_set))

for (i, row) in enumerate(eachrow(data_set))
    new_entries[i, :] = row[:]
end

for i=1:n_to_random_sample
    should_surverse = rand() > 0.69 ? 1 : 0;
    cols = filter(row -> row.SURVERSE == should_surverse, data_set);
    idx_row = convert(Int64, trunc(rand() * size(cols, 1))) + 1;
    
    entry = cols[idx_row, :];
    generate_new_entry(new_entries, entry);
end

In [72]:
describe(new_entries)

10×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean      │ min        │ median     │ max        │ nunique │
│     │ Symbol   │ Union…    │ Any        │ Union…     │ Any        │ Union…  │
├─────┼──────────┼───────────┼────────────┼────────────┼────────────┼─────────┤
│ 1   │ DATE     │           │ 2013-05-01 │            │ 2018-10-31 │ 1103    │
│ 2   │ SURVERSE │ 0.2922    │ 0          │ 0.0        │ 1          │         │
│ 3   │ FS_dist  │ 0.0401006 │ 0.0401006  │ 0.0401006  │ 0.0401006  │         │
│ 4   │ SS_dist  │ 0.154948  │ 0.154948   │ 0.154948   │ 0.154948   │         │
│ 5   │ FS_sum   │ 0.458345  │ -0.495362  │ -0.319497  │ 11.7609    │         │
│ 6   │ FS_max   │ 0.48388   │ -0.519668  │ -0.32903   │ 9.69116    │         │
│ 7   │ FS_max3  │ 0.476287  │ -0.521427  │ -0.334192  │ 14.2144    │         │
│ 8   │ SS_sum   │ 0.141471  │ -0.145097  │ -0.0991967 │ 3.35158    │         │
│ 9   │ SS_max   │ 0.140737  │ -0.152088  │ -0.102121  │ 3.07799    │         │
│ 10  │ SS_max3  │ 0.14173   │ -0.15128   │ -0.102317  │ 3.93344    │         │

In [73]:
CSV.write("data/parsed/oversampled/ouvrage_4380.csv", new_entries)

"data/parsed/oversampled/ouvrage_4380.csv"